# Ignore environment variables
.env

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs/
*.log

# Dependency directories
/venv/
/env/
.venv/

# Python specific
__pycache__/
*.pyc
*.py[cod]
*.egg
*.egg-info/
dist/

# IDE specific
.idea/
.vscode/

# System files
.DS_Store
Thumbs.db

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Ignore AWS CLI installation file
awscliv2.zip

# Ignore AWS configuration directory (if it contains sensitive information)
aws/

ec2.pem